{% extends "layout.html" %}

{% block content %}

    <h2>About Devloper</h2>
    <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static',filename='profile_pics/'+'default.jpg')}}" >
            <div class="media-body">

              <div class="article-metadata">

                <h5>Naresh Kumar K</h5>

                <small class="text-muted"> @ Glosys</small>

              </div>

              <p>A Vision Web Devloper implementor of websites that charming to look and feels Natural to Use Upon</p>

              
            </div>
            <button type="button" class="btn btn-outline-info">nPLU$ CoDec$</button>
          </article>
          



{% endblock content %}

