{% extends "layout.html" %}

{% block content %}

<div class="content-section">

  <div class="media">

    <img class="rounded-circle account-img" src="{{ image_file }}">

    <div class="media-body">

      <h2 class="account-heading">{{ current_user.username }}</h2>

      <p class="text-secondary">{{ current_user.email }}</p>

  </div>

</div>

<form method="POST" action="" enctype="multipart/form-data">

    {{ form.hidden_tag() }}

    <fieldset class="form-group">

        <legend class="border-bottom mb-4">Account Info</legend>

        <div class="form-group">

            {{ form.username.label(class="form-control-label") }}



            {% if form.username.errors %}

            {{ form.username(class="form-control form-control-lg is-invalid") }}

            <div class="invalid-feedback">

                {% for error in form.username.errors %}

                <span>{{ error }}</span>

                {% endfor %}

            </div>

            {% else %}

            {{ form.username(class="form-control form-control-lg") }}

            {% endif %}

        </div>

        <div class="form-group">

            {{ form.email.label(class="form-control-label") }}

            {% if form.email.errors %}

            {{ form.email(class="form-control form-control-lg is-invalid") }}

            <div class="invalid-feedback">

                {% for error in form.email.errors %}

                <span>{{ error }}</span>

                {% endfor %}

            </div>

            {% else %}

            {{ form.email(class="form-control form-control-lg") }}

            {% endif %}

        </div>

        <div class="form-group">

            {{ form.picture.label() }}

            {{ form.picture(class="form-control-file") }}

            {% if form.picture.errors %}

            {% for error in form.picture.errors %}

            <span class="text-danger">{{ error }}</span></br>

            {% endfor %}

            {% endif %}

        </div>

    </fieldset>

    <div class="form-group">

        {{ form.submit(class="btn btn-outline-info") }}

    </div>

</form>

</div>

<div class="content-section">
    {% if flag ==0 %}
    <legend class="border-bottom mb-4">Borrowed Books</legend>
    {% for post in posts %}

    <div class="content-section">
        <legend class="border-bottom mb-4">Borrowed Books</legend>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static',filename='book_pics/'+post.image_file)}}" >
            <div class="media-body">

              <div class="article-metadata">

                <h5><a class="mr-2" href="{{ url_for('users.bookSingle',book_id=post.id,flag='user') }}">{{ post.book_name }}</a></h5>

                <small class="text-muted"> from the hands of {{ post.author_name }}</small>

            </div>

            <p>Borrow Time : {{ post.borrow_time.strftime("%d-%b-%Y :: %r") }}</p>
            <p>Renew/Return : {{ post.renew_time.strftime("%d-%b-%Y :: %r") }}</p>

            <p class="article-content">Fine ₹. {{ post.fine }}</p>
            <center><form method="post">
                <input autocomplete="off" type="submit" name="submit" value="Add To Return List" class="btn btn-outline-info">
                <input autocomplete="off" type="submit" name="submit" value="Add To Renew List" class="btn btn-outline-info">
            </form></center>

        </div>
    </article>
    
</div>  
{% endfor %}

<div class="content-section">

    <center>
        <form method="post">
            <input autocomplete="off" type="submit" name="submit" value="Return All" class="btn btn-outline-info">
            <input autocomplete="off" type="submit" name="submit" value="Renew All" class="btn btn-outline-info">
        </form>
    </center>
    

</div>
{% endif %}
</div>
{% endblock content %}