<!DOCTYPE html>

<html>

<head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">



    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">



    {% if title %}

        <title>diGi-Lib - {{ title }}</title>

    {% else %}

        <title>diGi-Lib</title>

    {% endif %}

</head>

<body>

    <header class="site-header">

      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">

        <div class="container">

          <a class="navbar-brand mr-4" href="/">Glosys diGi-Lib</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

          </button>

          <div class="collapse navbar-collapse" id="navbarToggle">

            <div class="navbar-nav mr-auto">

              <a class="nav-item nav-link" href="{{ url_for('users.home') }}">Home</a>

              
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('users.cartList',usernam = current_user.username) }}">Cart</a>
                {%if title == 'Book-List' %}
                {% else %}
                <a class="nav-item nav-link" href="{{ url_for('users.showBooks') }}">Show Books</a>
                {% endif %}
                <!-- concept
                   url_fordatra('showeBooks')
                -->
                <a class="nav-item nav-link" href="#">e-BooKs</a>
              {% else %}
              <a class="nav-item nav-link" href="{{ url_for('librarians.registerLib') }}">Register Librarians</a>
              {% endif %}
              <a class="nav-item nav-link" href="#">About</a>
            </div>

            <!-- Navbar Right Side -->

            <div class="navbar-nav">

              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('users.account') }}">{{ current_user.first_name }} {{current_user.last_name}}</a>

                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>

              {% else %}

                <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>

                <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>

              {% endif %}

            </div>

          </div>

        </div>

      </nav>

    </header>

    <main role="main" class="container">

      <div class="row">

        <div class="col-md-8">

          {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

              {% for category, message in messages %}

                <div class="alert alert-{{ category }}">

                  {{ message }}

                </div>

              {% endfor %}

            {% endif %}

          {% endwith %}

          {% block content %}{% endblock %}

        </div>

        <div class="col-md-4">

          <div class="content-section">

            
            <center><button type="button" class="btn btn-outline-info">Notifications</button></center><br>
            <center><a href="#"><button type="button" class="btn btn-outline-info">ML Apps</button></a></center>

            <p class='text-muted'>Check it out

              <ul class="list-group"><center>

                  

                <li class="list-group-item list-group-item-light">Announcements</li>

                <li class="list-group-item list-group-item-light">Events</li>
                </center>
              </ul>

            </p>

          </div>

        </div>

      </div>

    </main>





    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>