{% extends "layout(librarian).html" %}

{% block content %}

    <h1>Books</h1>
    {% for post in posts %}

        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static',filename='book_pics/'+post.image_file)}}" >
            <div class="media-body">

              <div class="article-metadata">

                <h5>{{ post.book_name }}</h5>

                <small class="text-muted"> by {{ post.author_name }}</small>

              </div>
              <div class="article-metadata">
                <p class="article-content">Username : {{ post.username }}</p>
              </div>
              <div class="article-metadata">
                <p class="article-content">ISBN Number : {{ post.isbn_number }}</p>
              </div>
              <div class="article-metadata">
                <p class="article-content">Borrow Time : {{ post.borrow_time.strftime("%d-%b-%Y :: %r") }}</p>
              </div>
              <div class="article-metadata">
                <p class="article-content">Return Time : {{ post.renew_time.strftime("%d-%b-%Y :: %r") }}</p>
              </div>
              <div class="article-metadata">
                <br>
                <button  class="btn btn-outline-info">Penel Charges ₹. {{post.fine}}</button><br><br>
              </div>
              

            </div>

          </article>
    {% endfor %}

{% endblock content %}

