{% extends "layout.html" %}

{% block content %}

    <div class="content-section">

        <form method="POST" action="">

            {{ form.hidden_tag() }}

            <fieldset class="form-group">

                <legend class="border-bottom mb-4">Join Today</legend>

                <div class="form-group">

                    {{ form.first_name.label(class="form-control-label") }}



                    {% if form.first_name.errors %}

                        {{ form.first_name(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.first_name.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.first_name(class="form-control form-control-lg",autocomplete="off") }}

                    {% endif %}

                </div>

                <div class="form-group">

                    {{ form.last_name.label(class="form-control-label") }}



                    {% if form.last_name.errors %}

                        {{ form.last_name(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.last_name.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.last_name(class="form-control form-control-lg",autocomplete="off") }}

                    {% endif %}

                </div>

                <div class="form-group">

                    {{ form.date_of_birth.label(class="form-control-label") }}



                    {% if form.date_of_birth.errors %}

                        {{ form.date_of_birth(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.date_of_birth.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.date_of_birth(class="form-control form-control-lg",autocomplete="off") }}

                    {% endif %}

                </div>

                <div class="form-group">

                    {{ form.door_no.label(class="form-control-label") }}



                    {% if form.door_no.errors %}

                        {{ form.door_no(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.door_no.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.door_no(class="form-control form-control-lg",autocomplete="off") }}

                    {% endif %}

                </div>

                <div class="form-group">

                    {{ form.street_name.label(class="form-control-label") }}



                    {% if form.street_name.errors %}

                        {{ form.street_name(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.street_name.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.street_name(class="form-control form-control-lg",autocomplete="off") }}

                    {% endif %}

                </div>

                <div class="form-group">

                    {{ form.area_name.label(class="form-control-label") }}



                    {% if form.area_name.errors %}

                        {{ form.area_name(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.area_name.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.area_name(class="form-control form-control-lg",autocomplete="off") }}

                    {% endif %}

                </div>

                

                <div class="form-group">

                    {{ form.country.label(class="form-control-label") }}



                    {% if form.country.errors %}

                        {{ form.country(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.country.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.country(class="form-control form-control-lg",autocomplete="off") }}

                    {% endif %}

                </div>

                <div class="form-group">

                    {{ form.state.label(class="form-control-label") }}



                    {% if form.state.errors %}

                        {{ form.state(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.state.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.state(class="form-control form-control-lg",autocomplete="off") }}

                    {% endif %}

                </div>

                <div class="form-group">

                    {{ form.postal_code.label(class="form-control-label") }}



                    {% if form.postal_code.errors %}

                        {{ form.postal_code(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.postal_code.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.postal_code(class="form-control form-control-lg",autocomplete="off") }}

                    {% endif %}

                </div>

                <div class="form-group">

                    {{ form.mobile_number.label(class="form-control-label") }}



                    {% if form.mobile_number.errors %}

                        {{ form.mobile_number(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.mobile_number.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.mobile_number(class="form-control form-control-lg",autocomplete="off") }}

                    {% endif %}

                </div>


                <div class="form-group">

                    {{ form.username.label(class="form-control-label") }}



                    {% if form.username.errors %}

                        {{ form.username(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.username.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.username(class="form-control form-control-lg",autocomplete="off") }}

                    {% endif %}

                </div>

                <div class="form-group">

                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}

                        {{ form.email(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.email.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.email(class="form-control form-control-lg",autocomplete="off") }}

                    {% endif %}

                </div>

                <div class="form-group">

                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}

                        {{ form.password(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.password.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.password(class="form-control form-control-lg") }}

                    {% endif %}

                </div>

                <div class="form-group">

                    {{ form.confirm_password.label(class="form-control-label") }}

                    {% if form.confirm_password.errors %}

                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.confirm_password.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.confirm_password(class="form-control form-control-lg") }}

                    {% endif %}

                </div>
                <div class="form-group">

                    {{ form.security.label(class="form-control-label") }}



                    {% if form.security.errors %}

                        {{ form.security(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">

                            {% for error in form.security.errors %}

                                <span>{{ error }}</span>

                            {% endfor %}

                        </div>

                    {% else %}

                        {{ form.security(class="form-control form-control-lg") }}

                    {% endif %}

                </div>

            </fieldset>

            <div class="form-group">

                {{ form.submit(class="btn btn-outline-info") }}

            </div>

        </form>

    </div>

    <div class="border-top pt-3">

        <small class="text-muted">

            Already Have An Account? <a class="ml-2" href="{{ url_for('librarians.loginLib') }}">Sign In</a>

        </small>

    </div>

{% endblock content %}